body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.encabezado{
    background-color: red;
    margin: 40px auto;
    width: 300px;
    color: white;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    text-align: center;
    font-size: 10px;
    justify-content: space-between;
    height: 50px;
    align-content: center;
}

.cerrar-sesion button {
    position: fixed;
    background-color: red;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 6px;
    top: 30px;
    right: 20px;
}
.cerrar-sesion button:hover{
    background-color: white;
    color: black;
    border: 2px solid red;
}

.menu-contenedor {
    width: 250px;
    margin: 0 auto 10px;

}

.menu {
    width: 100%;
    transition: max-height 0.4s ease;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
}

.menu.mostrar{
    max-height: 300px;
    opacity: 1;
}

.menus {
    display: flex;
    background-color: rgb(187, 109, 109);
    border: none;
    border-radius: 5px;
    margin:auto;
    cursor: pointer;
    margin-top: 10px;
    color: white;
    font-size: 15px;
    box-shadow: 0 5px 10px black;
    align-items: center;
    justify-content: center;
    width: 250px;
    padding: 25px 25px;
}

a.boton-ingreso button{
    display: flex;
    margin: auto;
    background-color: rgb(187, 109, 109);
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    align-items: center;
    box-shadow: 0 5px 10px black;
    justify-content: center;
    width: 250px;
    margin-top: 220px;
    padding: 25px 25px;
}


a.botones button{
    border: none;
    display: flex;
    margin: 10px auto;
}
.menu .submenu {
    position: relative;
    display: flex;
    flex-direction: column;  
    align-items: center;     
    justify-content: center;
    
    width: 100%;
    padding: 5px 0;     
}
.menu .submenu a.botones button {
    width: 200px; 
    text-align: center;
    padding: 5px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}